@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Navbar-n {
    background-color: #000000; 
    
    padding: 15px;
    padding-bottom: 0px;
  }
  
  .Navbar-n ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  
  .Navbar-n li {
    margin: 0 15px;
    margin-top: 50px;
  }
  
  .home-button {
    background-color: #013e02; 
    color: white;
    font-family: 'Playfair Display'; 
    font-size: 20px;
    padding: 5px 15px; 
    border: 1px solid #dff82b;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    
    
    transform: scale(1.05); 
    box-shadow: 0px 5px 15px #dff82b;
  }
  