@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sin-seleccionar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100%; 
    background: #dff82b; 
    color: #000000; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s; 
    font-family: 'Playfair Display'; 
}

.sin-seleccionar h1 {
    font-size: 2.5rem;
    margin: 0 0 10px; 
    margin-bottom: 100px;
}

.sin-seleccionar p {
    font-size: 1.2rem; 
    margin: 0;
    text-align: center;
}
